html {
    background-color: #616161;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #616161;
}

.button-link {
    color: black;
    text-decoration: None;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 4px;
}

.a:hover {
    color: black;
    text-decoration: None;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
